@import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(184,255,4);
  background: linear-gradient(90deg, rgba(184,255,4,1) 0%, rgba(12,121,9,0.738532913165266) 35%, rgba(0,212,255,1) 100%);
}

.playlist {
  background: #0000001c;
  list-style:none;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  width: 16rem;
;

}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Title {
  color: white;
  margin-left: 8rem;
  font-family: 'Permanent Marker', cursive;
  font-size: xxx-large;
  text-shadow: 4px 4px 4px black;
  padding-right: 2rem;
  padding-top:2rem;

}

li {
  list-style:none;
  font-family: 'Permanent Marker';
 
}

li:hover {
  background: #83c643;
  border-radius: 2rem;
}

figure {
  align-self: baseline;
  padding-top: 6rem;
  margin-left: 4rem;
}


figcaption {
  font-family: 'Permanent Marker';
  font-size: x-large;
  padding: 1rem;

}

ul {
  padding-left: 0rem;
}